nav{
    background-color: white;
}
.nav-item a{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    color: black;
    
}
.navbar-brand{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8rem;
    line-height: 1rem;
}
.category-link{
    font-family: 'Libre Franklin', sans-serif;
    color: #999;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    
    text-transform: uppercase;
}
.h2{
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Tenor Sans', sans-serif;
    color: #000;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;
}
.post-short-text{
    font-family: 'Source Serif Pro', sans-serif;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.post-author{
    font-family: 'Libre Franklin', sans-serif;
    color: #000;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
/* INFO Section */
.cat-link{
    font-family: 'Libre Franklin', sans-serif;
    color: #999;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}
.author{
    font-family: 'Libre Franklin', sans-serif;
    color: #000;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn{
    font-family: 'Libre Franklin', sans-serif;
    color: #000;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
}
/* Footer*/
footer{
    background-color: #141414;

}
footer ul{
    list-style: none;
}
footer ul li a{
    color: #fff;
    text-align: start;
}
footer ul li a:hover{
    color: #fff;
}
.unique{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    line-height: 8rem;
    color: #fff;
}
form input{
    height: 3rem;
}
form .send{
    background-color: #000;
    color: #fff;
    border: none;
}
.nav-item{
    position: relative;
}
@media(min-width:992px){
    .nav-item:hover::after{
        content: "";
        background-color: #000;
        position: absolute;
        height: 5px;
        width: 100%;
        left: 0px;
        top: 4.2rem;
        bottom: 0;
        
    }
     .container{
        max-width: 1200px;
    } 
     .nav-item:hover{
        color: #000;
    }
}
